html body{
    margin: 0;
    padding: 0;
    height: 100%;
    
}

.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
    border: 2px solid black;
    border-radius: 20px;
    width: fit-content;
    margin: 0 auto;
    padding: 10px;
    margin-top: 50px;
    
}
button{
    border: 2px solid black;
    border-radius: 100%;
    margin: 0 8px;
    padding: 12px;
    color: white;
    background-color: rgb(45, 44, 44);
    font-size: 20px;
    width: 50px;
    text-align: center;
    cursor: pointer;
    
}
.row{
    margin: 12px 0;
}
.row input{
    height: 50px;
    width: 250px;
    background: rgb(33, 33, 33);
    color: white;
    font-size: 40px;
    text-align: right;
}
.yellow{
    background: rgb(218, 167, 12);
}
.grey{
    background: grey;
}

@media screen and (min-width: 500px){
    .flex{
        height: 100vh;
        width: 100vw;
    }
    
}